.main-nav {
  display: flex;
  flex-direction: column;
  width: 74px;
  min-width: 74px;
  border-right: solid 1px #bdbdbd;
  transition: all 0.3s ease-out;

  &.open {
    width: 200px;
    min-width: 200px;
  }

  .logo-wrapper {
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
  }

  .close-menu-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 48px;
    margin-left: 16px;
  }
}
