.logo {
  display: flex;
  align-items: center;
  height: 63px;

  .link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  .icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
    flex: none;
  }

  .title {
    flex: none;
  }
}
