.sub-nav {
  display: flex;
  flex-direction: column;
  width: 74px;
  min-width: 74px;
  background-color: #fff;
  border-left: solid 1px #bdbdbd;
  transition: all 0.3s ease-out;

  &.open {
    width: 375px;
    min-width: 375px;
  }
}
