.mainNav {
  display: flex;
  flex-direction: column;
  width: 74px;
  min-width: 74px;
  border-right: solid 1px;
  border-color: #bdbdbd;
  transition: all 0.3s ease-out;

  &.open {
    width: 200px;
    min-width: 200px;
  }

  .logoWrapper {
    border-bottom: 1px solid;
    border-color: #bdbdbd;
    overflow: hidden;
  }

  .closeMenuIconWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 48px;
    margin-left: 16px;
  }
}
