.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .inner {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .contents-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .contents {
    flex: 1;
    padding: 8px;
    overflow: auto;
  }

  .main {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #fafafa;
  }
}
