.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid #bdbdbd;

  .left-area {
    display: flex;
    align-items: center;
    height: 100%;

    .main-nav-button-wrapper {
      margin-left: 8px;
    }
  }

  .right-area {
    display: flex;

    .sub-nav-button-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 8px;
    }

    .account-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 74px;
      height: 64px;
      border-color: #bdbdbd;
      border-left: 1px solid;
    }
  }
}
