.header {
  height: 64px;
  border-bottom: 1px solid;
  border-color: #bdbdbd;
  display: flex;
  justify-content: space-between;

  .leftArea {
    display: flex;
    align-items: center;
    height: 100%;

    .mainNavButtonWrapper {
      margin-left: 8px;
    }
  }

  .rightArea {
    display: flex;

    .subNavButtonWrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 8px;
    }

    .accountButtonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      width: 74px;
      border-left: 1px solid;
      border-color: #bdbdbd;
    }
  }
}
